In [ ]:
import pandas as pd
import pandas as pd
from yfinance import download

In [5]:

nifty = pd.read_csv('nifty-200.csv')

nifty.head()

,SYMBOL,OPEN,HIGH,LOW,PREV.CLOSE,LTP,INDICATIVECLOSE,CHNG,%CHNG,VOLUME(shares),VALUE(₹Crores),52WH,52WL,30D%CHNG,365D%CHNG
0,NIFTY 200,"14,420.20","14,434.40","14,369.00","14,377.25","14,391.75",-,14.50,0.10,"40,12,28,450","8,004.91","14,434.40","11,941.45",1.53,2.21
1,SWIGGY,427.00,433.90,424.00,421.90,433.25,-,11.35,2.69,"22,66,400",97.73,617.30,297.00,-7.97,-
2,ITCHOTELS,221.59,225.22,220.36,219.41,224.75,-,5.34,2.43,"20,17,106",45.11,261.62,155.10,-7.32,-
3,SUZLON,53.60,54.34,53.40,53.09,54.17,-,1.08,2.03,"2,28,21,584",123.17,74.30,46.15,-12.10,-26.46
4,ENRIN,"3,124.00","3,159.00","3,105.00","3,100.80","3,157.00",-,56.20,1.81,"34,372",10.79,"3,625.00","2,508.80",-9.75,-

In [22]:
symbols = [f'{name}.NS' for name in list(nifty['SYMBOL'])[1:]]

In [23]:
data = download(symbols, interval='1d', start='2022-10-01', end = '2025-10-01')

/var/folders/x2/j7tdb__55xlgcqs9g1_j9_lw0000gn/T/ipykernel_73022/2751692885.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = download(symbols, interval='1d', start='2022-10-01', end = '2025-10-01')
[*********************100%***********************]  200 of 200 completed

In [48]:
data['High'].to_csv('yfinance_high.csv')

In [46]:
data.head()

Price            Close                                                       \
Ticker       360ONE.NS       ABB.NS ABCAPITAL.NS       ACC.NS ADANIENSOL.NS
Date
2022-10-03  439.593872  2947.829834   109.750000  2273.912354           NaN
2022-10-04  432.899384  3032.481445   115.199997  2331.567871           NaN
2022-10-06  424.411194  3138.836914   115.550003  2353.405029           NaN
2022-10-07  429.241486  3244.404785   115.300003  2356.369385           NaN
2022-10-10  417.951172  3179.882324   114.650002  2341.053955           NaN

Price                                                              \
Ticker      ADANIENT.NS ADANIGREEN.NS ADANIPORTS.NS ADANIPOWER.NS
Date
2022-10-03  3152.839111   2074.050049    772.076965     70.970001
2022-10-04  3233.125732   2134.199951    810.119751     70.500000
2022-10-06  3280.358887   2201.699951    811.153198     74.019997
2022-10-07  3272.969482   2204.149902    804.066345     74.570000
2022-10-10  3241.663330   2155.899902    795.404541     73.070000

Price                    ...      Volume                                      \
Ticker         ALKEM.NS  ... UNITDSPR.NS   UPL.NS    VBL.NS   VEDL.NS VMM.NS
Date                     ...
2022-10-03  3169.341064  ...         NaN  1815744   7485490   6570803    NaN
2022-10-04  3198.555420  ...         NaN  2372225  10018345  11559416    NaN
2022-10-06  3177.529053  ...         NaN  1208462   8258370  16940276    NaN
2022-10-07  3100.933350  ...         NaN  2367283   6152840   8499499    NaN
2022-10-10  3076.079834  ...         NaN  1009423   6651005  11439140    NaN

Price
Ticker     VOLTAS.NS WAAREEENER.NS  WIPRO.NS YESBANK.NS ZYDUSLIFE.NS
Date
2022-10-03   1136230           NaN   8140834   48492331      8017627
2022-10-04   1135815           NaN  12591696  112076362      4337423
2022-10-06   1403635           NaN  11203878  149333764      2923167
2022-10-07    475052           NaN   7580186   59605751      1928901
2022-10-10    664753           NaN  18714926   51241998      1379160

[5 rows x 1000 columns]