In [1]:
import pandas as pd
import pandas as pd
from yfinance import download
from tqdm import tqdm

In [2]:

nifty = pd.read_csv('nifty-200.csv')

nifty.head()

,SYMBOL,OPEN,HIGH,LOW,PREV.CLOSE,LTP,INDICATIVECLOSE,CHNG,%CHNG,VOLUME(shares),VALUE(₹Crores),52WH,52WL,30D%CHNG,365D%CHNG
0,NIFTY 200,"14,420.20","14,434.40","14,369.00","14,377.25","14,391.75",-,14.50,0.10,"40,12,28,450","8,004.91","14,434.40","11,941.45",1.53,2.21
1,SWIGGY,427.00,433.90,424.00,421.90,433.25,-,11.35,2.69,"22,66,400",97.73,617.30,297.00,-7.97,-
2,ITCHOTELS,221.59,225.22,220.36,219.41,224.75,-,5.34,2.43,"20,17,106",45.11,261.62,155.10,-7.32,-
3,SUZLON,53.60,54.34,53.40,53.09,54.17,-,1.08,2.03,"2,28,21,584",123.17,74.30,46.15,-12.10,-26.46
4,ENRIN,"3,124.00","3,159.00","3,105.00","3,100.80","3,157.00",-,56.20,1.81,"34,372",10.79,"3,625.00","2,508.80",-9.75,-

In [3]:
symbols = [f'{name}.NS' for name in list(nifty['SYMBOL'])[1:]]

In [4]:
data = download(symbols, interval='1d', start='2022-10-26', end = '2025-11-01')

/tmp/ipykernel_1032/2627064344.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = download(symbols, interval='1d', start='2022-10-26', end = '2025-11-01')
[*********************100%***********************]  200 of 200 completed

In [5]:
tickers = list(data['Close'].keys())

In [6]:
rows = []
for date in tqdm(data.index):
    for ticker in tickers:
        row = {
            'trade_date': date.strftime('%Y-%m-%d'),
            'ticker': ticker.replace('.NS',''),
            'close': data.loc[date, 'Close'][ticker],
            'open': data.loc[date, 'Open'][ticker],
            'high': data.loc[date, 'High'][ticker],
            'low': data.loc[date, 'Low'][ticker],
            'volume': data.loc[date, 'Volume'][ticker],
        }
        rows.append(row)

100%|█████████████████████████████████████████████████████████████████████████████████| 745/745 [05:50<00:00,  2.13it/s]

In [7]:
import sqlite3
import os
import sqlite3
db_path = "simulation_data.sqlite3"

In [8]:
with open('buffet/config/schema.sql', 'r') as f:
        schema_script = f.read()
        cursor.executescript(schema_script)

NameError: name 'cursor' is not defined

In [ ]:
cursor = conn.cursor()

In [ ]:
for row in rows:
        cursor.execute("INSERT INTO historicals (ticker, trade_date, open, high, low, close, volume) VALUES (?, ?, ?, ?, ?, ?, ?)",
                       (row['ticker'], row['trade_date'], row['open'], row['high'], row['low'], row['close'], row['volume']))

In [ ]:
conn.close()