In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('yfinance_close.csv')[['Date', 'ITC.NS']]

df.head()

         Date      ITC.NS
0  2022-10-03  292.618378
1  2022-10-04  300.240540
2  2022-10-06  303.668274
3  2022-10-07  301.368073
4  2022-10-10  295.730438

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from ipywidgets import interact, widgets
import matplotlib.dates as mdates

# Load and prepare data
df = pd.read_csv('yfinance_close.csv', parse_dates=['Date'])
df = df[['Date', 'ITC.NS']].rename(columns={'ITC.NS': 'Close'})
df = df.set_index('Date').sort_index()

# Plot function for a 3-month window ending at the selected date
def plot_window(end_date):
    end = pd.to_datetime(end_date)
    start = end - pd.DateOffset(months=3)

    window = df.loc[df.index.to_series().between(start, end)]
    if window.empty:
        print("No data in window. Pick a later end date.")
        return

    plt.figure(figsize=(10, 4))
    plt.plot(window.index, window['Close'], color='steelblue')
    plt.title(f'ITC.NS Close â€” {start.date()} to {end.date()}')
    plt.ylabel('Close')
    plt.xlabel('Date')
    plt.grid(True, alpha=0.3)

    ax = plt.gca()
    locator = mdates.AutoDateLocator()
    ax.xaxis.set_major_locator(locator)
    ax.xaxis.set_major_formatter(mdates.ConciseDateFormatter(locator))
    plt.tight_layout()
    plt.show()

# Slider over available dates to choose the window end
end_slider = widgets.SelectionSlider(
    options=list(df.index),
    value=df.index[-1],
    description='End',
    orientation='horizontal',
    layout={'width': '800px'}
)

interact(plot_window, end_date=end_slider)